* {
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.facebook-footer-style {
    height: 40px;
    width: 40px;
    padding: auto;
}

.instagram-footer-style {
    height: 46px;
    width: 46px;
    padding: auto;
}

.facebook-footer-style, .instagram-footer-style {
    cursor: pointer;
    margin: 0 20px 0 20px;
    transition: transform 0.3s ease;
}

.facebook-footer-style:hover, .instagram-footer-style:hover {
    transform: scale(1.2);
}

.footer-phone-icon, .footer-email-icon 
{
    height: 30px;
    width: 30px;
    margin: 0 15px 0 15px;
}

.footer-div-phone-contact, .footer-div-emial-contact, .footer-adress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15vh 0 15vh;
}

.main-div-all-social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
}

.footer-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

@media(max-width: 1400px) {

    .footer-info-text {
        display: block;
        flex-wrap: wrap;
        font-size: 90%;
    }
}

@media(max-width: 800px) {

    .footer-info-text {
        display: block;
        font-size: 80%;
    }

    .footer-phone-icon, .footer-email-icon {
        height: 3vh;
        width: 3vh;
    }

    .facebook-footer-style, .instagram-footer-style {
        height: 4vh;
        width: 4vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .footer-div-phone-contact, .footer-div-emial-contact, .footer-adress { 
        margin: 1vh;
    }
}

