@tailwind base;
@tailwind components;
@tailwind utilities;

.creme {color: #dfb67e;}
.honey {color: #e0dd9b;}
.dark-chockolate {color: #291800;}
.soft-gray {color: #7a7672;}
.pure-pink {color: #e2e2e2;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: Playfair Display, serif;
    overflow-x: hidden;
  }
  